
@font-face {
    font-family: 'Didot LT Pro, Bold';
    src        : url('./assets/fonts/Didot\ LT\ Roman\ Regular.ttf');
}
.imagetree{
    width: 450px;

}
.everlogo{
    width: 300px;
}
.sec4-span{
    margin-left: 32px;
}
.sec4--span{
    margin-top: 40px;
}
  
  
  